.pet__info {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  position: relative;

  @media (max-width: 800px) {
    margin-top: 20px;
  }
}

.pet__avatar {
  width: 128px;
  height: 128px;

  @media (max-width: 640px) {
    width: 74px;
    height: 74px;
    position: absolute;
    right: 0;
    top: -10px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}

.pet__confidant {
  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    float: left;
  }

  .pet__name__status {
    display: flex;
    align-items: center;
    gap: 10px;

    h4 {
      font-size: 18px;
      font-weight: 600;
    }

    p {
      color: green;
    }
  }

  .breed {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .gender {
    &.man {
      color: #5dade2;
    }

    &.woman {
      color: #ff69b4;
    }
  }

  .activity {
    &.high {
      color: green;
    }

    &.medium {
      color: rgb(221, 146, 6);
    }

    &.low {
      color: red;
    }
  }
}

.footer {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    font-weight: 600;
    text-align: center;
  }

  .vaccination {
  }
}
