.animals__list {
  width: fit-content;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  margin: 20px auto 0;
  transition: width 0.3s ease;

  @media (max-width: 640px) {
    min-width: 320px;
  }
}

.animal__card {
  width: 500px;
  height: 160px;
  padding: 20px 10px;
  border-radius: 12px;
  box-shadow: var(--main-shadow);
  gap: var(--space-m);
  position: relative;
  cursor: pointer;
  display: none;

  @media (max-width: 640px) {
    height: 140px;
  }

  &.move {
    display: flex;
    animation: 0.2s 0s linear animator;
  }

  &:has(.walk__status:hover) {
    h3 {
      opacity: 1;
      transform: none;
    }

    .animal__avatar {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    &:hover h3 {
      opacity: 0.5;
      transform: translateY(-5px);
    }

    &:hover .animal__avatar {
      opacity: 0.5;
    }
  }

  @media (max-width: 640px) {
    width: 330px;
  }

  &:active h3 {
    opacity: 0.5;
    transform: translateY(-5px);
  }

  &:active .animal__avatar {
    opacity: 0.5;
  }

  @media (max-width: 640px) {
    cursor: default;
  }

  .animal__avatar {
    width: 52px;
    height: 52px;
    transition: opacity 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .animal__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    .nickname__status {
      display: flex;
      align-items: center;
      gap: var(--space-2xs);

      @media (max-width: 640px) {
        &.long {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 600;
        transition: all 0.3s ease;
      }

      .status {
        color: green;

        &.recommend {
          color: rgb(221, 146, 6);
        }
      }
    }
  }

  .cross__wrapper {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .walk__status {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: green;

    &.want__walk {
      color: rgb(221, 146, 6);
    }
  }
}

@keyframes animator {
  from {
    transform: translateX(40px);
  }

  to {
    transform: translateX(0);
  }
}
