.pet__modal {
  min-width: 420px;
  height: fit-content;
  padding: 30px 20px;
  border-radius: 12px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  position: fixed;
  z-index: 30;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 640px) {
    min-width: 360px;
    min-height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
  }

  .cross__wrapper {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.error__message {
  color: red;
  font-size: 14px;
}
