.password__wrapper {
  position: relative;

  .eye__wrapper {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 32px;
    right: 10px;

    @media (max-width: 640px) {
      cursor: default;
    }
  }
}

.error__message {
  color: red;
  font-size: 14px;
}

.mobile__form {
  min-height: 100vh;
  border-radius: 0;
  margin: 0;
}
