.who__walk__list {
  width: fit-content;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  margin: 20px auto 0;
  transition: width 0.3s ease;

  @media (max-width: 640px) {
    min-width: 320px;
  }
}

.who__walk__card {
  width: 400px;
  max-height: 154px;
  padding: 20px 10px;
  border-radius: 12px;
  box-shadow: var(--main-shadow);
  position: relative;
  cursor: pointer;
  display: none;
  gap: 10px;

  &.move {
    display: flex;
    flex-direction: column;
    animation: 0.2s 0s linear animator;
  }

  @media (hover: hover) {
    &:hover h3 {
      opacity: 0.5;
      transform: translateY(-5px);
    }

    &:hover .animal__avatar {
      opacity: 0.5;
    }
  }

  @media (max-width: 640px) {
    width: 330px;
  }

  &:active h3 {
    opacity: 0.5;
    transform: translateY(-5px);
  }

  &:active .animal__avatar {
    opacity: 0.5;
  }

  @media (max-width: 640px) {
    cursor: default;
  }

  .top {
    display: flex;
    gap: var(--space-m);
  }

  .who__walk__avatar {
    width: 52px;
    height: 52px;
    transition: opacity 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .who__walk__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .nickname {
      display: flex;
      align-items: center;
      gap: var(--space-2xs);

      h3 {
        font-size: 18px;
        font-weight: 600;
        transition: all 0.3s ease;
      }
    }

    .breed {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .gender {
      &.man {
        color: #5dade2;
      }

      &.woman {
        color: #ff69b4;
      }
    }
  }

  .owner__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;

    .owner__avatar {
      width: 23px;
      height: 23px;
      background-color: rgba(128, 128, 128, 0.5);
      border-radius: 50%;
      cursor: pointer;

      @media (max-width: 640px) {
        cursor: default;
      }
    }
  }
}

@keyframes animator {
  from {
    transform: translateX(40px);
  }

  to {
    transform: translateX(0);
  }
}
